<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBhLep5QnNkYC3CyBPFvmHvXKN_SdkIpE</string>
	<key>GCM_SENDER_ID</key>
	<string>984874022648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myapp.nativecomponentstestproject</string>
	<key>PROJECT_ID</key>
	<string>nativecomponenttestproject</string>
	<key>STORAGE_BUCKET</key>
	<string>nativecomponenttestproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984874022648:ios:bd8ad72f318c2c73a92d0d</string>
</dict>
</plist>