<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwZNq-yNrtxlOrKDs74lTy_TghdX9X7ts</string>
	<key>GCM_SENDER_ID</key>
	<string>129739977419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myapp.nativecomponentstestproject</string>
	<key>PROJECT_ID</key>
	<string>mendix-fcm-test</string>
	<key>STORAGE_BUCKET</key>
	<string>mendix-fcm-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129739977419:ios:0cb1977d6a273e5bd1614e</string>
</dict>
</plist>
